<app-headers
  [SubTitle]="'Tap the letters to build a valid word.'"
  [MainTitle]="'Collect a word using the letters below'"
  [showProgressLine]="true"
  [progressPercentage]="wordGame.progressPercentage"
  [progressColors]="['#E35CFF', '#3387FF', '#25EC77']"
>
  <button class="frame-2912" (click)="skipWord()">
    <span class="skip-text">Skip</span>
  </button>
</app-headers>

<div
  class="main"
  *ngIf="wordGame.solvedWordsIndices.length < wordGame.totalWords"
>
  <div class="word-container">
    @for(letter of wordGame.randomPermutation; track $index) {
    <app-category-cards
      [cardHeight]="80"
      [cardWidth]="80"
      [title]="letter"
      (click)="onLetterClick(letter, $index)"
      [ngClass]="{ 'used-letter': wordGame.usedLetterMap[$index] }"
    />
    }
  </div>

  <div class="word-container">
    @for(position of wordGame.selectedLetters; track $index) {
    <app-category-cards
      [cardHeight]="80"
      [cardWidth]="80"
      [title]="position"
      (click)="unClickLetter(position, $index)"
    />
    }
  </div>

  <button
    class="check-button"
    (click)="resetSelection()"
    [style.visibility]="wordGame.currentWordIndex > 0 ? 'visible' : 'hidden'"
  >
    Reset
  </button>

  <button
    class="check-button"
    (click)="checkWord()"
    [style.visibility]="
      wordGame.currentWordIndex === wordGame.randomPermutation.length
        ? 'visible'
        : 'hidden'
    "
  >
    Check Word
  </button>
</div>

<app-achievement
  *ngIf="wordGame.solvedWordsIndices.length >= wordGame.totalWords"
  [percentage]="100"
  achievementText="Achievement earned! Completed your first word game!"
  circleColor="#343B6E"
/>
