.frame-2912 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  gap: 12px;
  width: 67px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  cursor: pointer;
}

.skip-text {
  width: 35px;
  height: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #343b6e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: 80%;
  gap: 56px;
}

.word-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.check-button {
  padding: 12px 24px;
  background-color: #343b6e;
  color: white;
  border: none;
  border-radius: 10px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.used-letter {
  opacity: 0.5;
  pointer-events: none;
}

@keyframes letterSelected {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

app-category-cards:hover {
  cursor: pointer;
  animation: letterSelected 0.3s ease;
}
