<!-- <div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: aqua;
    height: 100%;
  "
> -->
<app-headers
  [SubTitle]="'Select the shapes that match the word.'"
  [MainTitle]="'Hear the sound and match it to the letter'"
>
  <button class="frame-2912">
    <span class="skip-text">Skip</span>
  </button></app-headers
>
<!-- <div>
    @for(word of words;track word.id){
    <app-category-cards
      [cardHeight]="80"
      [cardWidth]="80"
      [title]="word.letters"
    />}
  </div> -->
<!-- </div> -->
