<app-headers
  [SubTitle]="'Tap the letters to build a valid word.'"
  [MainTitle]="'Collect a word using the letters below'"
  [showProgressLine]="true"
  [progressPercentage]="progressPercentage"
  [progressColors]="['#63B3ED', '#4299E1']"
>
  <button class="frame-2912" (click)="skipWord()">
    <span class="skip-text">Skip</span>
  </button></app-headers
>
<div class="main" *ngIf="solvedWordsIndices.length < totalWords">
  <div class="word-container">
    @for(letter of randomPermutation;track $index){
    <app-category-cards
      [cardHeight]="80"
      [cardWidth]="80"
      [title]="letter"
      (click)="onLetterClick(letter, $index)"
      [ngClass]="{ 'used-letter': usedLetterMap[$index] }"
    />}
  </div>
  <div class="word-container">
    @for(position of selectedLetters;track $index){
    <app-category-cards
      [cardHeight]="80"
      [cardWidth]="80"
      (click)="unClickLetter(position, $index)"
      [title]="position"
    />}
  </div>
  <button
    [style.visibility]="currentWordIndex > 0 ? 'visible' : 'hidden'"
    class="check-button"
    (click)="resetSelection()"
  >
    Reset
  </button>
  <button
    class="check-button"
    (click)="checkWord()"
    [style.visibility]="
      currentWordIndex === randomPermutation.length ? 'visible' : 'hidden'
    "
  >
    Check Word
  </button>

  <div class="main" *ngIf="solvedWordsIndices.length >= totalWords">
    <div class="completion-message">
      <h2>Čestitamo!</h2>
      <p>Uspješno ste riješili sve riječi!</p>
      <button class="check-button" (click)="resetGame()">Igraj ponovo</button>
    </div>
  </div>
</div>
