<div class="signin-container">
  <h1 class="title">SmartMix</h1>

  <div class="form-container">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-input" />
    </div>

    <div class="form-group">
      <div class="password-label-row">
        <label for="password">Password</label>
      </div>
      <div class="password-input-container">
        <input
          type="password"
          id="password"
          class="form-input"
          placeholder="6+ characters"
        />
        <img
          src="/assets/icons/passEye.svg"
          alt="Show Password"
          class="password-toggle"
        />
      </div>
    </div>

    <a routerLink="/home">
      <button class="create-account-button">Sign In</button>
    </a>
  </div>
</div>
