<div class="hero-container">
  <div class="group-5">
    <div class="group-7">
      <h1 class="main-heading">Make education feel more like an adventure!</h1>
      <p class="sub-heading">
        A unique, fun and engaging approach helping children develop their
        educational skills.
      </p>

      <div class="group-4">
        <div class="frame-15">
          <span class="get-started-text">Get started free</span>
          <div class="arrow-icon">
            <img src="/assets/icons/arrow.svg" alt="Arrow Right" />
          </div>
        </div>

        <div class="frame-16">
          <span class="demo-text">Book a demo</span>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-image-container">
    <img
      src="/assets/backgrounds/Home2.png"
      alt="Education Adventure"
      class="hero-image"
    />
  </div>
</div>
